$rem: 67.5/rem;

.hot-item {
  float: left;
	width: 100%;
	padding:0 5px;
  .item-box {
    .item-img {
      float: left;
      img{
        width: 60px;
      }
    }
    .title-set{
      display: block; 
      overflow: hidden;
      position: relative;
      .title-content{
        font-size: 13px;
        line-height: 1.2;
        display: block;
        margin: 0 0 4px 8px;
      }
    }
    .content-wrap {
      font-size: 13px;
      display: block;
      line-height: 1.4;
      margin: 0 0 8px 0;
      -moz-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
      user-select: text;
      .pl-content {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        padding-left: 8px; 
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: #999;
      }
    }
  }
}
