@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body{
  font-family: 'Avenir Next',Avenir,'Helvetica Neue',Helvetica,'Lantinghei SC','Hiragino Sans GB',sans-serif;
  color: #333;
  font-size: 13px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a{
  color:#07c;
  text-decoration: none;
  &:hover{
    color:#3af;
    text-decoration: underline;
  }
}

.container{
  position: relative;
  width:100%;
  height: 100%;
  margin:0 auto;
  overflow: hidden;
}
.text-center{
  text-align: center;
}
.fl{
  float: left;
}
.fr{
  float: right;
}