.cbox-wrap {
  background: #f6f6f6;
}
.cbox-unit {
  vertical-align: middle;
  padding: 10px;
  background: #f6f6f6;
  .subject-wrap {
    padding: 15px 10px;
    background: #f6f6f6;
  }
}
.subject{
  text-align: center;
  a {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    img {
      width: 156px;
    }  
  }
  .movie-poster-more{
    padding: 10px;
    background: #fff;
  }
  h1 {
    font-size: 18px;
  }
  .rating_num {
    padding-right: 10px;
  }
  .rating-member {
      display: inline;
  }
  .content{
    line-height:1rem;
  }
}

.actor-wrap {
  width: 50%;
  padding-top: 10px;
  img {
    padding: 10px;
    background: #fff;
  }
}