.core-layout__viewport {
  padding-top: 4rem;
}
.main {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
	z-index: 1;
	padding-top: 2rem;
  background: #fff;
	overflow-y: auto; 
}
.drawer-open {
	transform: translateX(80%);
}
.title-wrap {
	padding: 10px 15px 10px 5px;
}
.title-wrap h2 {
	margin: 0;
	font-size: 15px;
	color: #8e8e8e;
	background:url('../../static/clickable.png') no-repeat;
	background-position: right;
  background-size: 5.5px 10px;
}