.core-layout__viewport {
  padding-top: 4rem;
}
.main {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
	z-index: 1;
	padding-top: 2rem;
  background: #fff;
	overflow-y: auto; 
}
.drawer-open {
	transform: translateX(80%);
}